<section class="signup-section" id="signup">
    <footer class="footer small text-center blur-soft rounded">
        <div class="text-white">
            <h6>Copyright &copy; Spectrum SRL 2022</h6>
            <h6>{{"footer.location" | translate}}</h6>
            <h6>{{tel}}</h6>
            <p class="mb-0 mt-4 text-white-50">Site developed by <a href="https://github.com/dormico"
                    class="text-white-50">dormico</a></p>
            <p class="my-0 text-white-50">Photos by <a class="text-white-50" href="https://unsplash.com/@tierramallorca">Tierra Mallorca</a>
                and <a class="text-white-50" href="https://unsplash.com/@florianschmid">Florian Schmid</a> on <a
                class="text-white-50" href="https://unsplash.com">Unsplash</a></p>

        </div>
    </footer>
</section>