<section class="contact-section bg-primary" id="steps">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-12 mb-4 mb-md-4 text-center">
                <h3 i18n="tanúsítás címmező" class="text-uppercase m-0 text-secondary">{{"steps.title" | translate}}</h3>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col mb-3 mb-md-0">
                <div class="card py-2 h-100">
                    <div class="card-body py-0">
                        <div i18n class="text-secondary">{{"steps.step1.title" | translate}}</div>
                        <ul class="text-primary">
                            <li>
                                <div i18n class="small text-secondary">{{"steps.step1.description1" | translate}}</div>
                            </li>
                            <li>
                                <div i18n class="small text-secondary">{{"steps.step1.description2" | translate}}</div>
                            </li>
                            <li>
                                <div i18n class="small text-secondary">{{"steps.step1.description3" | translate}}</div>
                            </li>
                        </ul>
                    </div>        
                </div>
            </div>
            <div class="col mb-3 mb-md-0">
                <div class="card py-2 h-100">
                    <div class="card-body py-0">
                        <div i18n class="text-secondary m-0">{{"steps.step2.title" | translate}}</div>
                        <div i18n class="small text-secondary">{{"steps.step2.description1" | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-0">
                <div class="card py-2 h-100">
                    <div class="card-body py-0">
                        <div i18n class="text-secondary m-0">{{"steps.step3.title" | translate}}</div>
                        <div i18n class="small text-secondary">{{"steps.step3.description1" | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-0">
                <div class="card py-2 h-100">
                    <div class="card-body py-0">
                        <div i18n class="text-secondary m-0">{{"steps.step4.title" | translate}}</div>
                        <div i18n class="small text-secondary">{{"steps.step4.description1" | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-0">
                <div class="card py-2 h-100">
                    <div class="card-body py-0">
                        <div i18n class="text-secondary m-0">{{"steps.step5.title" | translate}}</div>
                        <div i18n class="small text-secondary">{{"steps.step5.description1" | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
        </div>
    </div>
</section>