<section class="contact-section bg-primary" id="steps">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-12 mb-4 mb-md-4 text-center">
                <h3 i18n="tanúsítás címmező" class="text-uppercase m-0 text-secondary">{{"steps.title" | translate}}</h3>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 i18n class="text-uppercase m-0">{{"steps.step1.title" | translate}}</h4>
                        <hr class="my-4 mx-auto" />
                        <div i18n class="small text-secondary">{{"steps.step1.description1" | translate}}</div>
                        <div i18n class="small text-secondary">{{"steps.step1.description2" | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 i18n class="text-uppercase m-0">{{"steps.step2.title" | translate}}</h4>
                        <hr class="my-4 mx-auto" />
                        <div i18n class="small text-secondary">{{"steps.step2.description1" | translate}} 
                                <!--Emellett nagyban meg tudja gyorsítani a munkánkat, ha (amennyiben rendelkezésre áll), előkészíti az ingatlannal kapcsolatos tervdokumentációkat, pl. az alaprajzot, metszetet, műszaki leírást.-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 i18n class="text-uppercase m-0">{{"steps.step3.title" | translate}}</h4>
                        <hr class="my-4 mx-auto" />
                        <div i18n class="small text-secondary">{{"steps.step3.description1" | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 i18n class="text-uppercase m-0">{{"steps.step4.title" | translate}}</h4>
                        <hr class="my-4 mx-auto" />
                        <div i18n class="small text-secondary">{{"steps.step4.description1" | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
        </div>
    </div>
</section>