<section class="projects-section bg-secondary" id="profile">
    <div class="container px-4 px-lg-5">       
        <div class="row gx-0 mb-4 mb-lg-5">
            <div class="col-xl col-lg-auto text-lg-center">
                <img width="200" class="img-fluid rounded-circle mb-3 mb-lg-0 ms-lg-0" src="assets/img/profile-picture.jpg" alt="profile" />
            </div>
            <div class="col-xl col-lg">
                <div class="featured-text text-lg-left text-white-50 text-lg-left">
                    <h4 class="mb-lg-4 text-white">{{"profile.name" | translate}}</h4>
                    <h6><img src="../assets/icons/telephone.svg" width="24" alt="icon" class="me-3 my-1">{{tel}}</h6>  
                    <h6><img src="../assets/icons/envelope.svg" width="24" alt="icon" class="me-3 my-1">{{email}}</h6>  

                    <p i18n="bemutatkozás" class="mb-0">{{"profile.text1" | translate}}</p>
                    <p i18n="bemutatkozás" class="mb-lg-4">{{"profile.text2" | translate}}</p>
                    <p i18n="bemutatkozás" class="mb-0">{{"profile.text3" | translate}}</p>
                    <p i18n="bemutatkozás" class="mb-0">{{"profile.text4" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
